///////////////////////////////////////
//  Variables for visual parameters  //
///////////////////////////////////////

$m3-roundness: 0px;

$m3-layout-identation: 8.333% * 0.75;

$header-offset: 120px;