/////////////////////////////////////
//  Color variables and overrides  //
/////////////////////////////////////

// Color variables for M-III
$m3-primary-100: #C1C1EB;
$m3-primary-200: #9599DA;
$m3-primary-300: #9599DA;
$m3-primary-400: #686ACA;
$m3-primary-500: #686ACA;
$m3-primary-600: #25296A;
$m3-primary-700: #25296A;
$m3-primary-800: #11113C;
$m3-primary-900: #11113C;

$m3-secondary-100: #BBEDEE;
$m3-secondary-200: #67FDFF;
$m3-secondary-300: #67FDFF;
$m3-secondary-400: #00B8BC;
$m3-secondary-500: #00B8BC;
$m3-secondary-600: #00878A;
$m3-secondary-700: #00878A;
$m3-secondary-800: #005457;
$m3-secondary-900: #005457;

// $m3-tertiary-100: #D1FF88;
// $m3-tertiary-200: #D1FF88;
// $m3-tertiary-300: #D1FF88;
// $m3-tertiary-400: #D1FF88;
// $m3-tertiary-500: #D1FF88;
// $m3-tertiary-600: #93D535;
// $m3-tertiary-700: #93D535;
// $m3-tertiary-800: #93D535;
// $m3-tertiary-900: #93D535;

$m3-gray-100: #FFFFFF;
$m3-gray-200: #F0F0F0;
$m3-gray-300: #F0F0F0;
$m3-gray-400: #8F8F8F;
$m3-gray-500: #8F8F8F;
$m3-gray-600: #494949;
$m3-gray-700: #494949;
$m3-gray-800: #1C1C1C;
$m3-gray-900: #1C1C1C;

$m3-success: #21B978;
$m3-danger: #E74444;
$m3-warning: #FFC106;
$m3-info: #03A9F4;
$m3-light: $m3-gray-100;
$m3-dark: $m3-gray-900;

// Override bootstrap default colors
$primary:       $m3-primary-500 !default;
$secondary:     $m3-secondary-500 !default;
$success:       $m3-success !default;
$info:          $m3-info !default;
$warning:       $m3-warning !default;
$danger:        $m3-danger !default;
$light:         $m3-light !default;
$dark:          $m3-dark !default;

// Extend bootstrap theme pallete
$theme-colors: (
    // "tertiary": $m3-tertiary-500,
    "gray": $m3-gray-500
);