/////////////////////////
//  Styles for footer  //
/////////////////////////

.footer {}

.footer__ctas,
.footer__index {
    display: none;
}

.footer__signature {
    border-top: $spacer-xxs solid $m3-primary-500;
    background: $m3-primary-900;
    padding: $spacer-md 0;
    color: $m3-secondary-500;
}

.signature__wrapper {
    @extend .container;

    .signature {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}


// Footer branding

.footer-branding {
    img {
        @extend .img-fluid;
        max-width: 260px;
    }
}


// Responsive overrides

@include media-breakpoint-down(xs) {
    .footer-branding {
        img {
            max-width: 160px;
        }
    }
}