////////////////////////////////////
//  Styles for language switcher  //
////////////////////////////////////

.language-switcher--inline {
    padding-left: 0;

    a {
        transition: color 0.2s;
    }

    .language-switcher__inner {
        position: relative;
        display: flex;
        margin-left: $spacer-md;
        border: 1px solid $m3-secondary-400;
        border-radius: 4px;

        .links {
            @extend .nav;

            li {
                @extend .nav-item;
            }

            .language-link {
                @extend .nav-link;
                color: $m3-secondary-400 !important;
                padding-left: $spacer-xxs + $spacer-xs !important;
                padding-right: $spacer-xxs + $spacer-xs !important;

                &:hover {
                    color: $m3-secondary-100 !important;
                }

                &.is-active {
                    background-color: rgba($m3-primary-900, 0.6);
                }
            }
        }
        
        .language-switcher__icon {
            display: flex;
            align-items: center;
            padding-left: $spacer-xs;
            padding-right: $spacer-xs;
            background-color: $m3-secondary-400;
            color: $m3-primary-900;
        }
    }
}