/////////////////////////////////////
//  Styles for database page view  //
/////////////////////////////////////

.page--database {
  @extend .m3-view;

  .block__content {
    .view__exposed {
      .form__container {
        .form-item {
          @extend .col-md, .col-sm-6;
          margin: 0;
        }

        .form-actions {
          @extend .col-md-3;
          margin: 0;
        }

        .form-submit__container {
          align-items: flex-end;

          .form-submit {
            width: 100%;
            margin-top: $spacer-md;
          }
        }
      }
    }
  }
}