//////////////////////////////////////
//  Styles for the page full nodes  //
//////////////////////////////////////

.node--page--full,
.node--page--content {
  .content__header {
    background-color: $m3-primary-600;
    border-bottom: $spacer-xxs solid $m3-primary-500;;
  }

  .content__intro {
    max-width: 1280px;
  }

  .content__intro-row {
    @extend .row;
  }

  .content__title-col {
    @extend .col-lg-8, .col-md-7;
  }
  
  .content__image-col {
    @extend .col-lg-4, .col-md-5;
  }

  .content__title {
    margin-bottom: $spacer-lg;
    max-width: unset;
  }

  .content__title-h {
    word-break: break-word;
  }

  .content__title-h,
  .content__intro  {
    color: $m3-primary-200;
  }

  .content__brief {
    * {
      font-size: $t-03;
    }
  }
  
  .content__brief,
  .content__featured-image {
    max-width: unset;
  }
}

// Responsive overrides

@include media-breakpoint-down(sm) {
  .node--page--full,
  .node--page--content {
    .content__title-h {
      font-size: $t-06;
    }
  }
}

@include media-breakpoint-down(xs) {
  .node--page--full,
  .node--page--content {
    .content__title-h {
      font-size: $t-05;
    }
  }
}