/////////////////////////////////
//  Styles for the main block  //
/////////////////////////////////

// Responsive overrides

@include media-breakpoint-down(md) {
    .main {
        padding-top: $header-offset - 34px;
    }
}