////////////////////////////////////
//  Styles for header navigation  //
////////////////////////////////////

// Main navigation

.block--system-menu-blockmain,
.block--system-menu-blockaccount {
    ul {
      align-items: center;

        li {
          margin-left: $spacer-md;

          a {
            padding-left: 0;
          }

          a:hover {
            color: $m3-primary-500;
            text-decoration: none;
          }

          .database {
            @extend .m3-cta-button;
          }
        }
    }
}


// Language switcher

.language-switcher__toggle-button {
  &:hover {
    color: $m3-primary-500;
  }
}

.language-switcher__dropdown {
  top: 100%;
}


// Mobile navbar toggler

.navbar__toggler {
  right: $spacer-md;
}

.navbar-toggler {
  @extend .m3-rounded;
  background-color: $m3-secondary-500;
  border: 0;
}


// Responsive overrides
@include media-breakpoint-down(lg) {
  .header .navigation__wrapper .navigation {
    flex-direction: column-reverse !important;
    align-items: flex-end !important;
  }

  .language-switcher {
    margin-bottom: $spacer-sm;
  }
}

@include media-breakpoint-down(md) {
  .block--system-menu-blockmain,
  .block--system-menu-blockaccount {
    width: 100%;

    ul {
      // flex-direction: column-reverse !important;
      align-items: flex-start;

      li {
        margin-left: 0;
        margin-bottom: $spacer-md;
        width: 100%;
      }

      .database {
        width: 100%;
      }
    }
  }
}