/////////////////////////
//  Styles for header  //
/////////////////////////

.header__wrapper {
  min-height: $header-offset;
  border-top: $spacer-xxs solid $m3-secondary-500;
  border-bottom: $spacer-xxs solid $m3-primary-500;;
  background-color: $m3-primary-700;
}

.header {
  max-width: 1920px;
  padding: $spacer-sm $spacer-md;
}


// Site branding

.site-branding__logo {
  width: 240px;

  img {
    width: 100%;
    height: auto;
  }
}

// Brochure overrides
.is-brochure {
  .header__wrapper {
    border-bottom-color: $m3-primary-700;
  }
}


// Responsive overrides

@include media-breakpoint-down(md) {
  .header__wrapper {
    min-height: unset;
  }

  .site-branding__logo {
    width: 170px;
  }
}