////////////////////////////////////////////
//  Styles for the commitment full nodes  //
////////////////////////////////////////////

// Global

.node--icpd_commitment {
  .content__labels {
    max-width: unset;

    .field-theme {
      display: inline;
    }

    .field-country,
    .field-theme__item {
      @extend .m3-tag-button;
      margin-bottom: $spacer-sm;
      display: inline-block;  
    }

    .field-country {
      background-color: $m3-secondary-500;
    }
  }

  .content__refference {
    margin-top: $spacer-md;
    margin-bottom: $spacer-md;

    .field-label {
      @extend .m3-label;
      color: $m3-primary-700;
      margin-bottom: $spacer-sm;
      font-weight: 700;
    }
  }
}


// Teaser

.node--icpd_commitment--teaser {
  padding-top: 0;
}


// Full

.node--icpd_commitment--full {
  .content__header,
  .content__body {
    @extend .container, .m3-indented-column;
  }

  .content__header {
    margin-top: $spacer-xxl;
    margin-bottom: $spacer-md;
  }

  .content__title {
    margin-bottom: $spacer-sm;
  }

  .content__title-h {
    @extend .m3-title-xs;
    color: $m3-primary-600;
    margin: 0;
  }

  .content__description {
    color: $m3-primary-600;

    .field-country {
      display: inline-block;
      font-weight: 900;
    }
  }

  .content__body {
    margin-bottom: $spacer-xxl;
  }
}