////////////////////////////
//  Global pager styles  //
////////////////////////////

.pager {
  .pager__item {
    .pager__link,
    .pager__label {
      border-color: $m3-secondary-500;
      color: $m3-secondary-500;
      background-color: theme-color('ligth');
      height: 100%;
    }

    &:hover {
      .pager__link,
      .pager__label {
        border-color: $m3-secondary-500;
      }

      .pager__link {
        background-color: $m3-gray-100;
      }
    }

    &:first-child {
      .pager__link,
      .pager__label {
        border-color: $m3-secondary-500;
      }
    }

    &:last-child {
      .pager__link,
      .pager__label {
        border-color: $m3-secondary-500;
      }
    }

    &.is-active {
      .pager__link,
      .pager__label {
        background-color: $m3-gray-300;
        border-color: $m3-secondary-500;
        color: $m3-secondary-500;
      }
    }
  }
}