///////////////////////////////////
//  Overrides for button styles  //
///////////////////////////////////

.btn {
  padding: $spacer-sm - $spacer-xxs $spacer-md;
  font-weight: 700;
  font-size: $t-02;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.btn-lg {
  font-size: $t-03;
}

.m3-cta-button {
  background-color: $m3-secondary-500;
  color: $m3-secondary-900;
  
  &:hover {
    background-color: $m3-primary-500;
  }
}

.m3-standard-button {
  border-color: $m3-secondary-500;
  color: $m3-secondary-500;

  &:hover {
    background-color: $m3-primary-500;
    color: theme-color('light');
    border-color: theme-color('light');
  }
}

.m3-ghost-button {
  color: $m3-secondary-500;

  &:hover {
    color: $m3-primary-500;
  }
}