/////////////////////////////////
//  Overrides for text styles  //
/////////////////////////////////

.m3-root-text {
  font-family: 'Inter', sans-serif;
}


// Titles

.m3-title {
  font-weight: 900;
}

.m3-title-lg {
  font-size: $t-08;
}

.m3-title-md {
  font-size: $t-07;
}

.m3-title-sm {
  font-size: $t-06;
}

.m3-title-xs {
  font-size: $t-05;
}

@include media-breakpoint-down(md) {
  .m3-title-lg {
    font-size: $t-07;
  }
  
  .m3-title-md {
    font-size: $t-06;
  }
  
  .m3-title-sm {
    font-size: $t-05;
  }

  .m3-title-xs {
    font-size: $t-04;
  }
}

@include media-breakpoint-down(sm) {
  .m3-title-lg {
    font-size: $t-06;
  }
  
  .m3-title-md {
    font-size: $t-05;
  }
  
  .m3-title-sm {
    font-size: $t-04;
  }

  .m3-title-xs {
    font-size: $t-03;
  }
}


// Subtitles

.m3-subtitle {
  font-weight: 900;
}


// Featured
.m3-featured-lg,
.m3-featured-md {
  font-size: $t-04;

  * {
      font-size: $t-04;
  }
}

.m3-featured-sm {
  font-size: $t-03;

  * {
      font-size: $t-03;
  }
}

.m3-featured-xs {
  font-size: $t-02;

  * {
      font-size: $t-02;
  }
}

@include media-breakpoint-down(md) {
  .m3-featured-lg,
  .m3-featured-md {
      font-size: $t-03;
  
      * {
          font-size: $t-03;
      }
  }
  
  .m3-featured-sm {
      font-size: $t-02;
  
      * {
          font-size: $t-02;
      }
  }
}

@include media-breakpoint-down(sm) {
  .m3-featured-lg,
  .m3-featured-md {
      font-size: $t-02;
  
      * {
          font-size: $t-02;
      }
  }
  
  .m3-featured-sm {
      font-size: $t-01;
  
      * {
          font-size: $t-01;
      }
  }
}


// Links

.m3-link-lg {
  font-size: $t-03;
}

.m3-link-md,
.m3-link-sm {
  font-size: $t-02;
}


// Body

.m3-body-lg {
  font-size: $t-03;
}

.m3-body-md,
.m3-body-sm,
.m3-body-xs {
  font-size: $t-02;
}

// Miscellaneous

.m3-label,
.m3-tag {
  font-size: $t-01;
  text-transform: uppercase;
}

.mkt-quote {
  font-family: 'Inter', sans-serif;
}