///////////////////////////////
//  Common styles for views  //
///////////////////////////////

.m3-view {
  .header__wrapper {
    border-bottom-color: $m3-primary-700;;
  }

  .block--page-title-block {
    background-color: $m3-primary-700;
    color: $m3-primary-300;

    h1 {
      padding: 0 15px;
    }
  }

  .content__wrapper {
    .view__exposed {
      background-color: $m3-primary-700;
      border-bottom: $spacer-xxs solid $m3-primary-500;;
    }

    .view__content {
      padding-top: $spacer-lg;
      padding-bottom: $spacer-lg;
    }

    .views-row {
      margin: 0 auto;
      margin-bottom: $spacer-lg;
    }
  }
}


// Responsive overrides

@include media-breakpoint-down(sm) {
  .m3-view {
    .block--page-title-block {
      h1 {
        font-size: $t-06;
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  .m3-view {
    .block--page-title-block {
      h1 {
        font-size: $t-05;
      }
    }
  }
}