/////////////////////////////////
//  Overrides for form styles  //
/////////////////////////////////

.form-item {
  .form-item__label {
    text-indent: 0;
    @extend .m3-label;
    color: $m3-primary-500;
  }
}

.m3-form-control {
  height: auto;
  padding: $spacer-sm - $spacer-xxs $spacer-md;
  border: 2px solid theme-color('light');
  color: $m3-gray-500;
}

.select__container {
  padding: 0;

  select,
  .select2-selection {
    padding: $spacer-sm - $spacer-xxs $spacer-md;
  }
}

.select2-container--open {
  .select2-dropdown {
      border-width: 2px;
      border-color: theme-color('light');
      left: -2px !important;
      box-shadow: 0 2px 3px 0px $m3-gray-500;
  }
}

.form-submit__container {
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

input[type='submit'] {
  @extend .m3-standard-button;
  background-color: transparent;
  width: auto;
}

.select__icon {
  background-color: transparent;
  color: $m3-secondary-700;
}