/////////////////////////////////
//  Overrides for List styles  //
/////////////////////////////////

.m3-formatted-lists {
    ul, ol {
        li {
            margin: $spacer-xs 0;
        }
    }

    ul.featured-list {
        font-weight: normal;

        li {
            @include appendIcon('fa-chevron-circle-right', $spacer-md - $spacer-xs, 'fas');
            color: $m3-gray-900 !important;

            &:before {
                color: $m3-primary-500 !important;
            }
        }

        a {
            color: $m3-gray-900 !important;
        }
    }
}