///////////////////////////////////////
//  Global content styles overrides  //
///////////////////////////////////////

.m3-text-styled {
  h3.subtitle,
  h4.subtitle-sm {
    margin-top: $spacer-md;
  }

  h3.subtitle {
    color: $m3-primary-600;
  }

  h4.subtitle-sm {
    color: $m3-primary-500;
  }

  p.featured {
    color: $m3-primary-700;
    font-size: $t-04;

    a {
      font-size: $t-04;
    }
  }

  img {
    height: auto;
  }
}